{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ضرب در 10</title>
</head>
<body>
    <h1>ضرب در 10</h1>
    <form action="{% url 'appsample:magic' %}" method="post">
        {% csrf_token %}
        <label for="number">عدد:</label>
        <input type="number" id="number" name="number" required>
        <button type="submit">ضرب</button>
    </form>

    {% if result %}
        <p>نتیجه: {{ result }}</p>
    {% endif %}
</body>
</html>
{% endblock %}